$font-family: "Helvetica"

$font-size-title: 32px
$font-size-subtitle: 16px

$clr-primary: #f3f0f0
$clr-secondary: #ffffff
$clr-accent:#4e6dc2ff
$clr-accent-background: #668fcc
$clr-font: #000

$clr-habilidade-1: #FB0843
$clr-habilidade-2: #0B9F03
$clr-habilidade-3: #2252EF
$clr-habilidade-4: #B100EE

$clr-body: #D8D7E5
$clr-card: #FFFFFF

$border-radius-card: 10px
$border-radius-card-secondary: 20px




