@use '../variables.sass'

.flashcards-dashboard
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 200px
    width: 100%
    padding: 15px
    background-color: variables.$clr-accent-background
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid
    border-radius: .5rem
    transition: all 0.2s ease-in-out;
    position: relative
    z-index: 1


    &.dark
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

    &:hover
        transform: translateY(-2px);
        box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.4);

        &.dark
            box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.8);

    .flashcards-dash-area
        margin: 8px auto
        font-size: .85rem
        color: black


    .title-container
        display: flex
        justify-content: center
        align-items: center
        padding: 5px
        background-color: variables.$clr-accent
        border-radius: .3rem
        font-size: 1rem
        min-width: fit-content

    .flashcards-dash-buttons
        align-self: flex-end
        color: #131f4c
        padding: 8px

        &.dark
            color: variables.$clr-body

        .flashdash-icons
            width: 1.8rem
            height: 1.3rem
            transition: all 0.2s ease

            &:nth-of-type(2)
                margin-left: 5px

            &:hover
                transform: translateY(-2px)


// Implementação futura - Tooltip
// Tooltips
// .tooltip-update
//     position: absolute
//     z-index: 2
//     top: 800px
//     left: 100px

// .tooltip-delete