//! position: aboslute está dando conflito de sobreposição com outros elementos
// z-index e top se tornam obsoletos com sua desativação
    
@use '../variables.sass' 
@use '../mixins.sass'

#flash-principal
  
    background-color: #668fcc
    height: 4rem
    width: 15rem
    display: flex
    align-items: center
    justify-content: center
    gap: 1rem
    border-radius: 0.7rem
    box-shadow: rgba(0, 0, 0, 0.1)
    cursor: pointer

    &:hover
        z-index: 20
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18), 0 4px 10px rgba(0, 0, 0, 0.10)
        transform: translateY(-4px) scale(1.02)

    &:active
        z-index: 20
        transform: translateY(1px) scale(0.995)
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.14), 0 2px 6px rgba(0, 0, 0, 0.8)
        transition: transform 0.05s ease, box-shadow 0.05s ease
    
    
    h1
        color: #ffffff
        font-size: 1.3rem


.icon-estrela
    display: flex
    margin-bottom: 11rem
    margin-left: 9.5rem

.icon
    color: #000000

// #flash-principal:hover

//     border-radius: variables.$border-radius-card-secondary
//     box-shadow: 20px 20px 25px -5px rgba(48, 77, 129, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.144)     

.flash-principal:hover 
  scale: 1.02
  box-shadow: 0 5px 20px #444e


.flash-principal:hover .number::after
  width: 900px
  height: 900px

