#formulario-login {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 35rem;
    width: 30rem;
    padding-top: 4rem;
    font-size: large;
    border-radius: 16px;
}

#formulario-login p {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
}

form input {
    border: 1px solid;
    padding: 1rem;
    border-radius: 8px;
}

form input::placeholder {
    color: black;
    opacity: 1;
}

form input[type="email"] {
    margin-bottom: 1.5rem;
}

form button {
    border: 1px solid;
    background-color: #C2C2C2;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

form button:active {
    transform: translateY(1px);
}

#auxiliares {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 1.5rem;
}

#checkbox {
    display: flex;
    gap: 0.2rem;
}

#checkbox input{
    background: none;
}

h1 {
    font-weight: 100;
}