#root {
    height: 100%;
    width: 100%;
    display: flex;
}

#lado-banner {
    height: 100%;
    width: 50%;
    background-color: #D9D9D9;
}

#lado-formulario-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}