@use '../variables'
@use '../mixins'

// #root
//     height: 100vh
//     width: 100vw
//     display: flex

.login-page
    height: 100vh
    width: 100%
    display: flex
    background-color: variables.$clr-accent-background
    position: relative
    overflow: hidden

.banner-side 
    height: 100%
    width: 50%
    background-color: variables.$clr-accent-background
    flex-shrink: 0

.login-form-side 
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 60%
    background-color: variables.$clr-primary
    border-bottom-left-radius: 2rem
    border-top-left-radius: 2rem
    padding: 2rem

// Media queries para responsividade
@media (max-width: 1200px)
    .login-page
        flex-direction: column
        
    .banner-side
        height: 30%
        width: 100%
        border-bottom-left-radius: 0
        border-bottom-right-radius: 2rem
        border-bottom-left-radius: 2rem
        
    .login-form-side
        height: 70%
        width: 100%
        border-top-left-radius: 0
        border-top-right-radius: 2rem
        border-bottom-left-radius: 0
        padding: 1.5rem

@media (max-width: 768px)
    .login-page
        background: linear-gradient(135deg, #668fccff 0%, #5a7cb8 100%)
        
    .banner-side
        height: 100%
        border-radius: 0
        // background: transparent
        
    .login-form-side
        height: 100%
        width: 100%
        border-radius: 2rem 2rem 0 0
        padding: 1rem
        
@media (max-width: 480px)
    .login-page
        padding: 0
        
    .banner-side
        height: 15%
        
    .login-form-side
        height: 85%
        border-radius: 1.5rem 1.5rem 0 0
        padding: 1rem 0.5rem

@media (max-width: 360px)
    .login-form-side
        padding: 0.5rem 0.25rem

